/* Reset */
body {
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 16px;
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin-bottom: 1.25rem;
  margin-top: 2rem;
}

h1 { font-size: 3.2em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

a {
  color: #1570D1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

svg {
  vertical-align: middle;
  margin-right: .35em;
  margin-top: -2px;
}

/* Buttons */
.btn {
  color: #1570D1;
  border: 1px solid #1570D1;
  padding: .5em 1em .65em 1em;
  border-radius: 1.5em;
  margin-right: 1em;
  display: inline-block;
}

.btn:hover {
  text-decoration: none;
  background-color: #1570D1;
  color: #ffffff;
}

.btn--large {
  font-size: 1.25em;
}

/* Banner */
.banner-title {
  font-weight: 300;
  max-width: 18em;
}

/* Tables */
table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  text-align: left;
  margin-bottom: 1rem;
}

thead {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
}

th, td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: .5em;
}

tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tr:last-child {
  border-bottom: none;
}

td p {
  margin: 0;
}

/* Syntax Highlighting */
code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: .875em;
}

pre {
  background-color: #ffffff;
  border-radius: 4px;
  color: #333;
  border: 1px solid #ddd;
  padding: 1.5em;
  display: inline-block;
  text-align: left;
  margin: 0 .5em 1em 0;
  overflow-x: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rainbow .comment {
    color: #998
}
.rainbow .support {
    color: #0086B3
}
.rainbow .tag,
.rainbow .tag-name {
    color: navy
}

.rainbow .constant.numeric,
.rainbow .keyword.unit,
.rainbow .hex-color {
    font-weight: normal;
    color: #099
}
.rainbow .entity.class {
    color: #458
}
.rainbow .entity.id,
.rainbow .entity.function {
    color: #900
}
.rainbow .attribute,
.rainbow .variable {
    color: teal
}
.rainbow .string,
.rainbow .support.value {
    font-weight: normal;
    color: #d14
}
.rainbow .regexp {
    color: #009926
}

/* Layout */
.flex {
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  width: 75%;
  float: left;
}

.sidenav-wrap {
  max-width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 2em;
  float: left;
}

.sidenav {
  font-size: 1rem;
  line-height: 1.4;
  list-style-type: none;
}

.sidenav.fixed {
  position: fixed;
  top: 10px;
}

.sidenav li {
  border-radius: 3px;
}

.sidenav a {
  padding: .125em .5em .175em .5em;
  border-radius: .85em;
}

.sidenav .current {
  background-color: #1570D1;
  color: #ffffff;
}

.content pre {
  display: block;
  width: 100%;
}

/* Helper Classes */
.constrain {
  max-width: 78em;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.narrow {
  max-width: 48em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.leader-half { margin-top: .5rem;}
.leader-1 { margin-top: 1rem; }
.leader-2 { margin-top: 2rem; }
.leader-3 { margin-top: 3rem; }
.leader-4 { margin-top: 4rem; }
.leader-5 { margin-top: 5rem; }

.trailer-1 { margin-bottom: 1rem; }
.trailer-2 { margin-bottom: 2rem; }
.trailer-3 { margin-bottom: 3rem; }
.trailer-4 { margin-bottom: 4rem; }
.trailer-5 { margin-bottom: 5rem; }

.padding-leader-1 { padding-top: 1rem; }
.padding-leader-2 { padding-top: 2rem; }
.padding-leader-3 { padding-top: 3rem; }
.padding-leader-4 { padding-top: 4rem; }
.padding-leader-5 { padding-top: 5rem; }

.padding-trailer-1 { padding-bottom: 1rem; }
.padding-trailer-2 { padding-bottom: 2rem; }
.padding-trailer-3 { padding-bottom: 3rem; }
.padding-trailer-4 { padding-bottom: 4rem; }
.padding-trailer-5 { padding-bottom: 5rem; }

.text-gray { color: #646464; }
.text-white { color: #ffffff; }
.text-center { text-align: center; }

.link-gray { color: #737373; }

.list-inline {
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  list-style-type: none;
  margin-right: 2em;
}

.list-plain {
  list-style-type: none;
  padding-left: 1em;
  font-size: .95em;
}

.checklist {
  padding-left: 0;
}

.checklist li {
  font-weight: 300;
  list-style-type: none;
  padding: .35em 0;
}

.bg-white {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.bg-blue {
  text-shadow: 0 1px 2px rgba(0,0,0,0.2)
  background-color: #0E4D90;
  background-image: linear-gradient(#0E4D90, #0C437E);
  color: rgba(255, 255, 255, .85);
}

.bg-blue a {
  color: #ffffff;
  text-decoration: underline;
}